#### Covers build environment for web application
node_modules/
bower_components/

#### Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/