.usage {
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.09);
  border-radius: 5px;
}

html {
  font-size: 62.5%;
  height: 100%;
}

/*//  ---------------------------------------------------------------------------*/
/*//*/
/*//  Default styling*/
/*//*/
/*//  ---------------------------------------------------------------------------*/
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  /* required for animation on navigation to work */
  position: relative;
  z-index: -1;
  /* fix ends here */
  /*background: $dc-bodyBackgroundColor;*/
  /*color: $textColor;*/
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  /*font-size: $font100;*/
  line-height: 24px;
  min-height: 100%;
}
/*a {*/
  /*color: $linkColor;*/
  /*text-decoration: none;*/
/*&:hover,*/
/*&:focus {*/
   /*color: $linkColorHover;*/
   /*outline: none;*/
 /*}*/
/*}*/