@import "../bower_components/dress-code/sass/dress-code";
$dc-font-path: "fonts";

//  ---------------------------------------------------------------------------
//
//  Solution Center Header Styles
//
//  ---------------------------------------------------------------------------

.solution-center-header {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  height: $dc-touch-size;
  padding: $dc-space75 $dc-space100;
  border-bottom: 1px solid $dc-gray60;
  background: $dc-white;
  position: relative;

  .logo-container {
    max-height: 2rem;
  }

  .logo {
    max-height: $dc-touch-size - $dc-space150;
    padding-bottom: 2px;

    ~ * {
      margin-left: $dc-space150;
    }

    &--large {
      background: url('img/logo.svg') no-repeat;
      background-size: contain;
      height: 1.8rem;
      width: 9rem;
      @media (max-width: $dc-medium-width) {
        display: none;
      }
    }
    &--small {
      height: 1.4rem;
      width: 1.4rem;
      background: url('img/logo--no-text.svg') no-repeat;
      margin-left: 0;
      display: none;
      @media (max-width: $dc-medium-width) {
        display: block;
      }
    }
  }

  .menu-toggle {
    margin-top: 4px;
    display: none;
    @media (max-width: $dc-medium-width) {
      display: block;
    }
    .dc-icon {
      margin-left: 4px;
      vertical-align: middle;
    }
  }

  .dc-icon {
    font-size: 2.4rem;
    width: 36px;
    color: $dc-gray40;

    &--interactive:hover {
      color: $dc-orange40;
    }
  }
  a {
    text-decoration: none;
    &:hover,
    &:focus {
      color: $dc-link-color-hover;
      outline: none;
    }
  }

  .brand-switcher {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
    @media (min-width: $dc-medium-width) {
      text-align: right;
      margin: 0 $dc-space200 0 auto;
      -webkit-flex-grow: 0;
      flex-grow: 0;
    }
    &__brand-name {
      text-transform: uppercase;
      font-weight: 500;
      color: $dc-text-color;
    }
  }

  .navigation {
    &--sub {
      display: -webkit-flex;
      display: flex;
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      background: $dc-white;
      border-top: 1px solid $dc-gray60;
      border-bottom: 1px solid $dc-gray60;
      @media (min-width: $dc-medium-width) {
        z-index: auto;
      }
    }
    &--right {
      justify-content: flex-end;
      &.shown {
        & .menu__item {
          transform: translateX(0);
        }
      }
      & .menu__item {
        transform: translateX(200%);
        transition: transform 0.1s 0.075s ease-out;
        &:nth-child(n+1) {
          transition: transform 0.1s 0.175s ease-out;
        }
        &:nth-child(n+2) {
          transition: transform 0.1s 0.275s ease-out;
        }
      }
    }
    &--left {
      &.shown-mobile {
        & .menu__item {
          transform: translateX(0);
        }
      }
      & .menu__item {
        transform: translateX(-200%);
        transition: transform 0.1s 0.275s ease-out;
        &:nth-child(n+1) {
          transition: transform 0.1s 0.175s ease-out;
        }
        &:nth-child(n+2) {
          transition: transform 0.1s 0.075s ease-out;
        }
      }
    }
    &--global {
      display: none;
      @media (min-width: $dc-medium-width) {
        position: static;
        border: none;
        width: auto;
        display: block;
        transform: none;
        .menu__item {
          transform: none;
        }
      }
      &.shown-mobile {
        display: flex;
        display: -webkit-flex;
      }
    }
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0 $dc-space100 0 0;
    display: flex;
    display: -webkit-flex;
    &__link {
      margin-left: $dc-space150;
      color: $dc-text-color;
      line-height: 3.6rem;
      display: block;
      cursor: pointer;
    }
  }

  .toggle {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    color: $dc-text-color;
    text-align: center;
    &:hover, &:hover .dc-icon {
      color: $dc-secondary-accent;
      cursor: pointer;
      [stroke^='#'] {
        stroke: $dc-secondary-accent;
      }
    }
    .user-name {
      @media (max-width: $dc-medium-width) {
        display: none;
      }
    }
  }

  #nanoRepEmbedContainer {
    right: -9px;
    padding: 0;
    margin-top: 2px;
    &::after {
      left: initial;
      right: 21px;
      margin-bottom: -1px;
      border: 6px solid transparent;
      border-bottom-color: $dc-gray10;
    }
    &.visible {
      display: block;
    }
    .dc-icon--close {
      color: $dc-gray40;
      position: absolute;
      right: 9px;
      top: 5px;
      font-size: 1.4rem;
      width: inherit;
    }
  }
}